# This is a comprehensive .gitignore for Laravel projects

# General
Thumbs.db
*.log
.DS_Store

# Sensitive Environment Files
.env
.env.backup
.env.production

# Editor & IDE specific
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies & Build Artifacts
/node_modules
/public/build
/public/hot
/vendor

# Storage
/public/storage
/storage/*.key
/storage/pail

# Cache & Tooling
.phpunit.result.cache
.phpactor.json
/auth.json

# Homestead
Homestead.json
Homestead.yaml